# ADOME NUMBER

1. n=12
2. n^2=144
3. rev n^2 =441
4. sqrt of rev n^2 = 21
5. rev of sqrt rev n^2 =12

In [1]:
n=int(input("Enter a number:"))
s= n*n
rs=0# rs is the reverse of of s
while s>0:
    rem=s%10
    rs=rs*10+rem
    s//=10
rrs=int(rs**0.5)#rrs is the root of rs
r_rs=0#r_rs is the reverse of r 
while rrs>0:
    rem=rrs%10
    r_rs=r_rs*10+rem
    rrs//=10
    
if n==r_rs:
    print(n, "is the adome number")
else:
    print(n,"is not a adome number")

Enter a number:12
12 is the adome number

USING IF ELSE

In [6]:
n=int(input("Enter a number : "))
if n==int(str(int(int(str(n*n)[::-1])**0.5))[::-1]):
    print("Adome")
else:
    print("not Adome")

Enter a number : 12
Adome

Function

Reusable piece of code
 def Namefunc (arr1, arr2):
        statement 1
        statement 2

In [8]:
def addme(a, b):
    c=a+b
    return(c)
addme(12,13)

25

In [65]:
def isPrime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
            return True
    else:
            return False

In [66]:
isPrime(7)

True

In [67]:
def isprime(n):
    print=True
    for i in range(2,n):
        if n%i==0:
            print= False
            break
    return prime

In [24]:
isPrime(9)

False

# To print all the prime numbers between 1 to 100

In [20]:
for i in range(2,101):
    if isPrime(i):
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# To print the Capitaliztion of vowel from a string

In [25]:
def capV(n):
    n=list(n)
    for i in range(len(n)):
        if n[i] in 'aeiou':
            n[i] = n[i].upper()
    return ''.join(n)

In [26]:
capV('naina')

'nAInA'

Recursion

Which call itself.
 def fac(n):
        if n ==0 or n==1:
            return 1
        else:
            return fac(n-1)*n

In [28]:
def fact(n):
        if n ==0 or n==1:
            return 1
        else:
            return fac(n-1)*n
fact(8)

40320

In [32]:
def add(n):
        if n ==0 :
            return 0
        else:
            return fac(n-1)+n
add(8)

5048

Lambda Function

These are one line anonymous fuction, that can be stored in a variable.

var= lambda arg : val if condition else val

In [33]:
isEven = lambda b:True if b%2==0 else False
isEven(20)

True

In [48]:
( lambda n:True if len([i for i in range(2,n) if n%i ==0])==2 else False)(int(input("Enter a number: ")))

Enter a number: 12

False

Some built in function

In [ ]:
1. sum(seq):- it takes a sequence of items and calculate its sum.
2. len(seq):- length of sequency.
3. min(seq):- return the minimum value of the sequency
4. max(Seq):- return the maximum value of the sequency
5. range(start, stop+1, step)
6. map(fun, seq): it apply the function to every value of sequency
7. filter

In [49]:
sum([12,15,16])

43

In [50]:
len([12,15,16])

3

In [52]:
min([12,15,16])

12

In [51]:
max([12,15,16])

16

In [53]:
range(1,10,2)

range(1, 10, 2)

In [55]:
def sq(n):
    return n**2
sq(5)

25

In [61]:
b= [12, 7,5,6,89,15,20]
list(map(sq,b))

[144, 49, 25, 36, 7921, 225, 400]

In [69]:
list(map(isPrime,b))

[False, True, True, False, True, False, False]

In [68]:
list(filter(isPrime,b))

[7, 5, 89]

# Write a python function that takes a list and return True if the list contains another list else return False.

In [76]:
def isNested(lis):
    for i in lis:
        if type(i)==list:
            return True
    else:
        return False

isNested([1,2,[4,5],3])

True

# Write a python function that takes a non negative integer "n" and return the sum of all the numbers up to n.

In [74]:
def sum(n):
  if n == 0:
    return 0
  else:
    return n % 10 + sum(int(n / 10))

print(sum(345))
print(sum(45))

12
9